{% extends 'newapp/base.html' %}

{% block content %}
<!-- profile.html -->
{% load static %}

<div class="container mt-5">
  <div class="row justify-content-center"> <!-- Add "justify-content-center" class to center the content -->
    <div class="col-lg-4 mt-5">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
          <h5 class="card-title">{{ user.username }}</h5>
          <p class="card-text">{{ user.userprofile.bio }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto"> <!-- Add "mx-auto" class to center the "Courses Taken" section -->
      <h2 class="mb-4 mt-5">Courses Taken</h2>
      {% if purchased_courses %}
        <ul class="list-group">
          {% for course in purchased_courses %}
            <li class="list-group-item" style="font-weight: bold;">{{ course.name }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No courses taken yet.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
